smart-attendance-n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "subject": "Event Reminder - {{ $json.title }}",
        "message": "This is a reminder that you have an event '{{ $json.title }}' scheduled for {{ $json.date }} at {{ $json.location }}. Don't forget to mark your attendance!",
        "options": {}
      },
      "id": "0a6e5916-78b4-4393-9872-dbce77cedd92",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        1216
      ],
      "webhookId": "aeefe75c-49aa-4a6e-82fc-9a8107fbd897"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65faf204-ae48-4e4f-b0c1-f6e6067a3215",
      "name": "Get Upcoming Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        1216
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "b057a4d1-6a6e-4d74-a41b-293751e26a35",
      "name": "Schedule Event Reminder",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-9",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "schedule_event_reminder",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "008189ff-f37f-47fe-a465-5bad78aeaaae",
      "name": "Check Schedule Reminder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        1328
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-8",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "074ed13e-64ba-4648-bba4-fd44aadd0b90",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Operation failed\", \"error\": $json } }}",
        "options": {}
      },
      "id": "d2dd7184-f42c-4ca5-a590-e64cb541872e",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        752,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Operation completed successfully\", \"data\": $json } }}",
        "options": {}
      },
      "id": "a100f034-8683-409e-823c-5256973635b2",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        752,
        128
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/attendance/export",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "753b0a17-e710-468d-8406-ab8372d78c48",
      "name": "Export Attendance Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-7",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "export_data",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0dded72-b3ef-4666-8dd5-e09d1954030a",
      "name": "Check Export Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        1120
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "subject": "{{ $json.body.subject }}",
        "message": "{{ $json.body.message }}",
        "options": {}
      },
      "id": "483b3a9c-5218-4438-ad27-45f8686536bc",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        816
      ],
      "webhookId": "65da0dcc-14fe-42cd-82a4-ce183ca1b423"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-6",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "send_notification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4238b32a-eb18-4fe4-a7a7-f75b929cd757",
      "name": "Check Notification Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        928
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/attendance/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a51ac7b-5428-4249-874d-115c4092cdec",
      "name": "Get Attendance Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-5",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "get_attendance_records",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "358d20a8-792c-4b86-92f6-1e5778a71099",
      "name": "Check Attendance Records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        720
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97756eb8-3cbc-4fa6-a81c-dddc2ad17761",
      "name": "Get All Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-4",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "get_events",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffb83861-5231-4c08-9bb2-402cba6b9b16",
      "name": "Check Get Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        528
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/attendance/checkin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "eventId",
              "value": "={{ $json.eventId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3792360-372d-4276-b0b4-3ab68b927efe",
      "name": "Mark Attendance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        224
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/qr/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "qrData",
              "value": "={{ $json.body.qrData }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99703750-2e2f-42db-98c9-d37f430e750c",
      "name": "Verify QR Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-3",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "mark_attendance",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2508793-a87e-4756-b668-b1e2e360ca87",
      "name": "Check Attendance Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        320
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/qr/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "eventId",
              "value": "={{ $json.eventId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d9901b8a-5547-4171-ab0c-d92ec0b57a44",
      "name": "Generate QR Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        16
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/events/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.body.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.body.title }}"
            },
            {
              "name": "date",
              "value": "={{ $json.body.date }}"
            },
            {
              "name": "location",
              "value": "={{ $json.body.location }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e796ab90-ec0d-43d9-baf0-6c38c5ca0de3",
      "name": "Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-2",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "create_event",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49a869d6-ac0e-43c0-a46d-9a82f68a054e",
      "name": "Check Event Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        128
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42818a02-a224-458d-adc4-c6f08e43fde2",
      "name": "User Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        224
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/auth/signup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $json.body.username }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "phoneNumber",
              "value": "={{ $json.body.phoneNumber }}"
            },
            {
              "name": "password",
              "value": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce5a2827-9c13-4ff0-baca-97953b631409",
      "name": "User Signup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "user_signup",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5d0bf9d-0f7b-49ba-9858-2b1fee491450",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -352,
        128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a33b96ea-968a-49ec-b620-0f8ab11a5668",
      "name": "Attendance Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -576,
        128
      ],
      "webhookId": "attendance-webhook"
    }
  ],
  "connections": {
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Events": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Event Reminder": {
      "main": [
        [
          {
            "node": "Get Upcoming Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Schedule Reminder": {
      "main": [
        [],
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Attendance Data": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Export Action": {
      "main": [
        [
          {
            "node": "Export Attendance Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Schedule Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Notification Action": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Export Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attendance Records": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Attendance Records": {
      "main": [
        [
          {
            "node": "Get Attendance Records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Notification Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Events": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Get Events": {
      "main": [
        [
          {
            "node": "Get All Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Attendance Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Attendance": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify QR Code": {
      "main": [
        [
          {
            "node": "Mark Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Attendance Action": {
      "main": [
        [
          {
            "node": "Verify QR Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Get Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate QR Code": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Generate QR Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Action": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Attendance Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Login": {
      "main": [
        [
          {
            "node": "Check Event Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Signup": {
      "main": [
        [
          {
            "node": "Check Event Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "User Signup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendance Webhook": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "fe4224cb58c208c9e731500f9f90c5e8da23230909f342a5f30842683b1b0333"
  }
}